<table style="border: 1px solid #666;width: 100%;">
  <tr>
    <td style="width: 64px;vertical-align: top;padding-top: 5px;">
      <img src="<%- url_for('img/warning.svg') %>" height="64" width="64">
    </td>
    <td style="padding: 0;">
      <p style="font-size: 24px;font-weight: bold;margin: 10px 0;color: #ffcc00"><%= __('warning') %></p>
      <p style="margin: 10px 0;padding-right: 10px;"><b><%= msg %></b></p>
    </td>
  </tr>
</table>