<p>
  &copy; <%= new Date().getFullYear() %> <%= theme.author %><br>
  Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> and theme by <a href="https://github.com/swwind/roigu" target="_blank">Roigu</a><% if (theme.hosted_by) { %>, Hosted by <a href="<%- theme.hosted_by.site %>" target="_blank"><%= theme.hosted_by.name %></a><% } %>
</p>