<div class="blog-title">
  <p class="title"><%= config.title %></p>
  <p class="subtitle"><%= config.subtitle %></p>
</div>
<div class="search-box search-icon" id="search-box">
  <form action="/search/" method="get">
    <div class="placeholder"><%= __('search') %></div>
    <input type="text" name="s" class="color-ccc">
  </form>
</div>