width-mini = 1000px
mini = "only screen and (max-width: " + width-mini + ")"
notmini = "only screen and (min-width: " + width-mini + ")"

font-code = "Courier New", Monaco, Menlo, Consolas, monospace
wallpaper = hexo-config('wallpaper')
tab-size = hexo-config('tab_size')
title-font = hexo-config('title_font')

if title-font
  @import url("https://fonts.loli.net/css?family=" + title-font)
@import '_custom/custom'
@import '_partial/animate'
@import '_partial/main'
@import '_partial/fonts'
@import '_partial/roigu'
@import '_partial/icons'
