<div class="article-catetags">
<% if (item.categories && item.categories.length){ %>
  <div class="categories-icon">
    <%- list_categories(item.categories, {
      show_count: false,
      style: 'none',
      separator: ''
    }) %>
  </div>
<% } %>
<% if (item.tags && item.tags.length){ %>
  <div class="tags-icon">
    <%- list_tags(item.tags, {
      show_count: false,
      style: 'none',
      separator: ''
    }) %>
  </div>
<% } %>
</div>
