@font-face
  font-family fontello
  src url('../font/fontello.ttf')
  font-width normal

.meiryo
  font-family Meiryo
 
.readmore,.top-menu-links>li:first-child>a
  font-family DejaVu Serif, Georgia, Times New Roman, Times, serif

.index-header .blog-title .title
  font-family title-font, cursive
