.tags-icon:before,.tag-icon:before
  content "\e802"
.categories-icon:before,.category-icon:before
  content "\e803"
.author-icon:before
  content "\e801"
.time-icon:before
  content "\e800"
.search-icon:before
  content "\e804"
  color #ccc
.book-icon:before
  content "\e805"
.archive-icon:before
  content "\e806"